html,body{
    height: 100%;
}
form{
    box-shadow: 0 .125rem .25rem;
    padding: 40px;
    border-radius: 17px;
}

.form-container{
    max-width: 400px;
    
}
.custom-btn-entrar{

    background-color: blueviolet;
}
.custom-btn-entrar:hover{
    background-color: rgb(155, 73, 231);
}